body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/*Start section 1*/

.section1 {
  display: flex;
}

.title-color {
  color: #f8b661;
}

.left-side {
  width: 50%;
  margin-left: 80px;
  margin-top: 30px;
}

.left-side h1 {
  border-left: 2px solid #f8b661;
  border-radius: 2px;
  padding: 2px;
}
.left-side p {
  text-align: justify;
}

.right-side {
  width: 50%;
  margin: 0px 20px;
}

.right-side img {
  width: 80%;
}

.anchor-button {
  background-color: #f8b661;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 1000;
  color: white;
  transition: 1s;
}
.anchor-button:hover {
  padding: 8px 20px;
  background-color: black;
  color: rgb(233, 8, 214);
}

/*Start section 2*/

.section2 {
  margin-top: 80px;
}

.section2-title-color {
  color: orange;
}

.section2 h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.flexible-cotainer {
  display: flex;
  justify-content: space-evenly;
  height: 400px;
}

.mission {
  width: 25%;
  box-shadow: 10px 10px 20px rgb(179, 178, 178);
  padding: 10px;
  text-align: center;
  background-color: rgb(177, 245, 230);
  border-radius: 30px;
}

.vission {
  width: 25%;
  box-shadow: 10px 10px 20px rgb(179, 178, 178);
  padding: 10px;
  text-align: center;
  background-color: rgb(174, 105, 230);
  border-radius: 30px;
}

.goals {
  width: 25%;
  box-shadow: 10px 10px 20px rgb(179, 178, 178);
  padding: 10px;
  text-align: center;
  background-color: rgb(199, 216, 101);
  border-radius: 30px;
}

.section2 img {
  width: 50%;
}

/*Start section 3*/

.section3 {
  display: flex;
  margin: 80px 0px;
  background-image: url("images/dream-bg.png");
  background-position: 0vw;
  background-repeat: no-repeat;
  background-size: 80px;
}

.left-side2 {
  width: 50%;
}

.left-side2 img {
  width: 70%;
  margin-left: 80px;
}

.right-side2 {
  width: 50%;
}

/*Start section 4*/

.section4 {
  display: flex;
  margin: 10px 80px;
}

.left-side3 {
  width: 50%;
}

.right-side3 {
  width: 50%;
}

.right-side3 img {
  width: 90%;
  margin-left: 60px;
  background-image: url("images/shape-1.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

/*Footer start*/

footer {
  background-color: black;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 30px;
}
